<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Лига банк</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/lightbox.css" rel="stylesheet"> 
    <link href="css/animate.min.css" rel="stylesheet"> 
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">

</head>

<body>
	<header id="header">      
        
        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                  

                    <a class="navbar-brand" href="index.html">
                        <h1><img src="../../img/logo.png" alt="logo"></h1>
                    </a>
                    
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="index.html">Главная</a></li>
                        <li><a href="aboutus.html">Ипотека</a></li>      
                        <li><a href="aboutus2.html">Карты</a>
                        </li>                           
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Ипотека</h1>
                            <p>Получите ипотеку, не выходя из дома. Оформляем кредит на покупку жилья без справок с места работы</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
   </section>

    <section id="company-information" class="padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img src="../../img/ipoteka.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6 padding-top">
                    <h2>Льготная ипотека на новостройки от 5,9%</h2>
                    <p>Кредит на покупку жилья в новых домах по льготной программе ипотечного кредитования</p>
                </div>
            </div>
        </div>
    </section>

    <section id="page-breadcrumb">
        <div class="container" >
            <div class="row">
                <div class="col-sm-6 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="../../img/zaem.png" alt="">
                        </div>
                        <h2>Требования к заемщику</h2>
                        <p>- Возраст от 18 до 70 лет включительно</p>
                        <p>- Гражданство РФ, наличие постоянной или временной регистрации на территории РФ</p>
                        <p>- Без действующей ипотеки</p>
                    </div>
                </div>
                <div class="col-sm-6 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="../../img/Dom.png" alt="">
                        </div>
                        <h2>Требования к недвижимости</h2>
                        <p>- Объект — жилое помещение (квартира)</p>
                        <p>- Продается по эскроу</p>
                        <p>- Покупка напрямую у застройщика (не по уступке)</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


     <section id="services">
        <div class="container">
            <div class="row">
                <div style="border: solid 1px #000; border-radius: 8px;" class="col-sm-12 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <img src="../../img/1.png">
                    <h3>Подайте заявку на оформление ипотеки</h3>
                    <p>Онлайн или через застройщика ЖК</p>
                </div>
                <div style="margin-top: 16px; border: solid 1px #000; border-radius: 8px;" class="col-sm-12 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <img src="../../img/2.png">
                    <h3>Получите одобрение</h3>
                    <p>Решение банка по кредиту придет за несколько минут</p>
                </div>
                <div style="margin-top: 16px; border: solid 1px #000; border-radius: 8px;" class="col-sm-12 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <img src="../../img/3.png">
                    <h3>Выберите квартиру</h3>
                    <p>Рассмотрите разные районы и сравните цены на похожие планировки в новостройках</p>
                </div>
                <div style="margin-top: 16px; border: solid 1px #000; border-radius: 8px;" class="col-sm-12 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <img src="../../img/4.png">
                    <h3>Пришлите информацию о квартире</h3>
                    <p>Самостоятельно в чат мобильного приложения или обратитесь к застройщику</p>
                </div>
                <div style="margin-top: 16px; border: solid 1px #000; border-radius: 8px;" class="col-sm-12 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <img src="../../img/5.png">
                    <h3>Подпишите документы</h3>
                    <p>Представитель приедет в удобное время и место для выпуска электронной подписи</p>
                </div>
            </div>
        </div>
    </section>


    


    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/lightbox.min.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>   
</body>
</html>
